* text eol=lf

resources/assets/sass/bootstrap/* linguist-vendored
resources/assets/sass/_bootstrap*.scss linguist-vendored
resources/assets/sass/extras/* linguist-vendored

*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.map binary