language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - nightly
  - hhvm

matrix:
    allow_failures:
        - php: nightly

sudo: false

before_script:
  - npm install
  - npm install -g bower
  - bower install

install:
  - composer install

script: vendor/bin/phpunit