language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - nightly
  - hhvm

matrix:
    allow_failures:
        - php: nightly

sudo: false

before_script:
  - npm install -g bower

install:
  - composer install
  - npm install
  - bower install
  - gulp

script: vendor/bin/phpunit