/**
 *
 *
 *
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400);

body {
	font-family : 'Open Sans', sans-serif;
}

#wrapper {
	width      : 100%;
	background : #13353F;
}

#page-wrapper {
	padding    : 15px 15px;
	min-height : 600px;
	background : #FFFFFF;
}

#page-inner {
	margin           : 10px 20px 10px 0px;
	padding          : 10px;
	min-height       : 1200px;
	width            : 100%;
	background-color : transparent;
}

.text-center {
	text-align : center;
}

.no-border {
	border : 1px solid #f3f3f3;
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top    : 7px;
	margin-bottom : -5px;
}

h2 {
	color : #000;
}

h4 {
	padding-top : 10px;
}

.square-btn-adjust {
	border                : 0px solid transparent;
	-webkit-border-radius : 0px;
	-moz-border-radius    : 0px;
	border-radius         : 0px;
}

p {
	padding-top : 20px;
	font-size   : 16px;
	line-height : 25px;
}

.panel {
	border-radius : 0px;
}

.navbar-side .nav > li > a > svg {
	color      : #39C6F0;
	text-align : center;
	vertical-align: middle;
}

.top-navbar .nav > li > a {
	&:hover, &:focus {
		background-color : #2497BA;
		color            : #fff;
		text-decoration  : none;
	}
}

.nav .open > a {
	border-color     : #428bca;
	background-color : #2497BA;
	&:hover, &:focus {
		border-color     : #428bca;
		background-color : #2497BA;
	}
}

.breadcrumb {
	margin-bottom    : 20px;
	padding          : 8px 15px;
	border-radius    : 0;
	background-color : #FAFAFA;
	list-style       : none;
}

.page-header {
	margin         : 10px 0 20px;
	padding-bottom : 9px;
	border-bottom  : 1px solid #C7D1DD;
}

.panel-left {
	width      : 35%;
	height     : 158px;
	background : #5CB85C;
	.icon {
		padding   : 0 10px;
		max-width : 10em;
		width     : 100%;
		height    : 100%;
		color     : #fff;
	}
}

.panel-right {
	margin-bottom : 30px;
	width         : 65%;
	height        : 158px;
	background    : #F7F7F7;
	h3 {
		padding   : 31px 10px 13px;
		font-size : 50px;
	}
}

.panel-back {
	background-color : #fff;
}

.panel-default > .panel-heading {
	border-color     : #ddd;
	background       : #FAFAFA;
	background-color : #FFFFFF;
	color            : #000;
	font-weight      : bold;
}

.jumbotron, .well {
	background : #fff;
}

.noti-box {
	padding    : 20px;
	min-height : 100px;
	.icon-box {
		display        : block;
		float          : left;
		margin         : 0 15px 10px 0;
		width          : 70px;
		height         : 70px;
		vertical-align : middle;
		text-align     : center;
		font-size      : 40px;
		line-height    : 75px;
	}
}

.text-box p {
	margin : 0 0 3px;
}

.main-text {
	font-weight : 600;
	font-size   : 25px;
}

.set-icon {
	-webkit-border-radius : 50px;
	-moz-border-radius    : 50px;
	border-radius         : 50px;
}

.green {
	background-color : #5cb85c;
	color            : #fff;
}

.blue {
	background-color : #4CB1CF;
	color            : #fff;
}

.red {
	background-color : #F0433D;
	color            : #fff;
}

.brown {
	background-color : #f0ad4e;
	color            : #fff;
}

.back-footer-red {
	border-top       : 0px solid #fff;
	background-color : #F0433D;
	color            : #fff;
}

.icon-box-right {
	display        : block;
	float          : right;
	margin         : 0 15px 10px 0;
	width          : 70px;
	height         : 70px;
	vertical-align : middle;
	text-align     : center;
	font-size      : 40px;
	line-height    : 75px;
}

.main-temp-back {
	background  : #8702A8;
	color       : #FFFFFF;
	text-align  : center;
	font-weight : 300;
	font-size   : 16px;
	.text-temp {
		font-size : 40px;
	}
}

.back-dash {
	padding               : 20px;
	-webkit-border-radius : 0px;
	-moz-border-radius    : 0px;
	border-radius         : 0px;
	background-color      : #2EA7EB;
	color                 : #fff;
	font-weight           : 500;
	font-size             : 20px;
	p {
		padding-top : 16px;
		color       : #fff;
		text-align  : justify;
		font-size   : 13px;
		line-height : 25px;
	}
}

.color-bottom-txt {
	color       : #000;
	font-size   : 16px;
	line-height : 30px;
}

.main-chart {
	background : #fff;
}

.easypiechart-panel {
	margin-bottom : 20px;
	padding       : 1px 0;
	text-align    : center;
}

.placeholder h2 {
	margin-bottom : 0px;
}

.donut {
	width : 100%;
}

.easypiechart {
	position   : relative;
	margin     : 20px auto 10px auto;
	width      : 120px;
	height     : 120px;
	text-align : center;
	.percent {
		position  : absolute;
		top       : 38px;
		display   : block;
		width     : 120px;
		font-size : 26px;
	}
}

#easypiechart-blue .percent {
	color : #30a5ff;
}

#easypiechart-teal .percent {
	color : #1ebfae;
}

#easypiechart-orange .percent {
	color : #ffb53e;
}

#easypiechart-red .percent {
	color : #ef4040;
}

.chat-panel .panel-body {
	overflow-y : scroll;
	height     : 450px;
}

.chat-box {
	margin     : 0;
	padding    : 0;
	list-style : none;
	li {
		margin-bottom  : 15px;
		padding-bottom : 5px;
		border-bottom  : 1px dotted #808080;
		&.left .chat-body {
			margin-left : 90px;
		}
		.chat-body p {
			margin : 0;
			color  : #8d8888;
		}
	}
}

.chat-img > img {
	margin-left : 20px;
}

.user-image {
	margin                : 25px auto;
	max-width             : 170px;
	max-height            : 170px;
	-webkit-border-radius : 10px;
	-moz-border-radius    : 10px;
	border-radius         : 10px;
}

.top-navbar {
	margin : 0px;
	.navbar-brand {
		width          : 260px;
		height         : 60px;
		color          : #fff;
		text-align     : left;
		text-transform : uppercase;
		font-weight    : 700;
		font-size      : 30px;
		line-height    : 30px;
	}
	.nav > li {
		position : relative;
		display  : inline-block;
		float    : left;
		margin   : 0px;
		padding  : 0px;
		> a {
			position    : relative;
			display     : block;
			margin      : 0px;
			padding     : 20px;
			border-left : 1px solid #40A7C5;
			color       : #FFFFFF;
			&:hover, &:focus {
				background-color : #2497BA;
				color            : #fff;
				text-decoration  : none;
			}
		}
	}
	.dropdown-menu {
		min-width     : 230px;
		border-radius : 0 0 4px 4px;
		> li > a {
			&:hover, &:focus {
				background : none;
				color      : #225081;
			}
		}
	}
}

.dropdown-tasks {
	width : 255px;
	.progress {
		overflow         : hidden;
		margin-bottom    : 8px;
		height           : 8px;
		border-radius    : 0px;
		background-color : #f5f5f5;
	}
	> li > a {
		padding : 0px 15px;
	}
	p {
		padding-top : 4px;
		font-size   : 13px;
		line-height : 21px;
	}
}

.active-menu {
	background-color : #005C77 !important;
}

.nav-second-level li, .nav-third-level li {
	border-bottom : none !important;
}

.nav-second-level li a {
	padding-left : 37px;
}

.nav-third-level li a {
	padding-left : 55px;
}

.sidebar-collapse {
	background : none;
	.nav {
		padding    : 0;
		background : none;
		> li > a {
			padding       : 15px 10px;
			border-bottom : 1px solid rgba(107, 108, 109, 0.19);
			background    : transparent;
			color         : #fff;
			text-shadow   : none;
		}
	}
}

ul.nav.nav-second-level.collapse.in {
	background : #005C77;
}

.sidebar-collapse .nav > li > a {
	&:hover, &:focus {
		outline : 0;
	}
}

.navbar-side {
	border           : none;
	background-color : transparent;
}

.top-navbar {
	border-bottom : none;
	background    : #39C6F0;

	.nav > li > a > svg {
		margin-right : 2px;
	}
	.navbar-brand:hover {
		color : #fff;
	}
}

.dropdown-user li {
	margin : 8px 0;
}

.navbar-default {
	border : 0px solid black;
}

.navbar-header {
	background : #39C6F0;
}

.navbar-default .navbar-toggle {
	border-color : #fff;
	.icon-bar {
		background-color : #FFF;
	}
	&:hover, &:focus {
		background-color : #B40101;
	}
}

.nav > li > a > svg {
	margin-right : 10px;
	color        : #FFFFFF;
}

.btn-circle {
	padding               : 6px 0;
	width                 : 50px;
	height                : 50px;
	-webkit-border-radius : 25px;
	-moz-border-radius    : 25px;
	border-radius         : 25px;
	text-align            : center;
	font-size             : 12px;
	line-height           : 1.428571429;
}

@media (min-width : 768px) {
	#page-wrapper {
		margin     : 0 0 0 260px;
		padding    : 15px 30px;
		min-height : 1200px;
	}
	.navbar-side {
		z-index  : 1;
		position : absolute;
		width    : 260px;
	}
	.navbar {
		border-radius : 0px;
	}
}

@media (max-width : 480px) {
	.page-header small {
		display     : block;
		padding-top : 14px;
		font-size   : 19px;
	}
}

/* Morris Charts */
.morris-hover {
	position : absolute;
	z-index  : 1000;
	&.morris-default-style {
		padding       : 6px;
		border        : solid 2px rgba(230, 230, 230, 0.8);
		border-radius : 10px;
		background    : rgba(255, 255, 255, 0.8);
		color         : #666;
		text-align    : center;
		font-size     : 12px;
		font-family   : sans-serif;
		.morris-hover-row-label {
			margin      : 0.25em 0;
			font-weight : bold;
		}
		.morris-hover-point {
			margin      : 0.1em 0;
			white-space : nowrap;
		}
	}
}