/*
 * Global Styles
 * File: regions/_global.scss
 * Note: This file should contain CSS that is required for every page.
 *    Anything page-specific needs to be stored in ../pages/_page-name.scss
 */

html {
	position   : relative;
	min-height : 100%;
}

body {
	/* Add a bottom margin the size of the footer */
	margin-bottom : $body-footer-height;
	> .container {
		padding : $body-footer-height 15px 0;
	}
}

.footer {
	position         : absolute;
	bottom           : 0;
	width            : 100%;
	height           : $body-footer-height;
	background-color : #F5F5F5;

	.container {
		padding-right : 15px;
		padding-left  : 15px;
		.text-muted {
			margin : 20px 0;
		}
	}
}

.hidden {
	display : none;
}