@import "bootstrap-sprockets";
@import "bootstrap-compass";
@import "bootstrap";

/*
 * Import the application-specific variables
 * NOTE: Bootstrap variables are in sass/bootstrap/_variables.scss.
 *       Do not try to override in our variables file, the Bootstrap
 *       sass is compiled first.
 */
@import "variables";

// Import the application-specific stylesheets
@import "regions/global";

// Import the extra stylesheets to support addons and extensions
@import "extras/bootstrap-typeahead";
@import "extras/bootstrap-tokenfield";
@import "extras/bootstrap-notify";
@import "extras/bootstrap-table";
@import "extras/x-editable";
@import "extras/animate-css";
@import "extras/owl-carousel";
@import "extras/svg";