.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  &.icon-fw {
    text-align: center;
  }
  &.icon-1h {
    width: 1.5em;
    height: 1.5em;
  }
  &.icon-2x {
    width: 2em;
    height: 2em;
  }
  &.icon-2h {
    width: 2.5em;
    height: 2.5em;
  }
  &.icon-3x {
    width: 3em;
    height: 3em;
  }
  &.icon-3h {
    width: 3.5em;
    height: 3.5em;
  }
  &.icon-4x {
    width: 4em;
    height: 4em;
  }
  &.icon-4h {
    width: 4.5em;
    height: 4.5em;
  }
  &.icon-5x {
    width: 5em;
    height: 5em;
  }
  &.icon-5h {
    width: 5.5em;
    height: 5.5em;
  }
}

.icon-search, .icon-star, .icon-star-o {
  width: 0.9287109375em;
}

.icon-user {
  width: 0.7861328125em;
}

.icon-film {
  width: 1.0712890625em;
}

.icon-th-large {
  width: 0.9287109375em;
}

.icon-close {
  width: 0.7861328125em;
}

.icon-search-plus, .icon-search-minus {
  width: 0.9287109375em;
}

.icon-trash-o {
  width: 0.7861328125em;
}

.icon-home {
  width: 0.9287109375em;
}

.icon-road {
  width: 1.0712890625em;
}

.icon-download {
  width: 0.9287109375em;
}

.icon-lock {
  width: 0.642578125em;
}

.icon-headphones {
  width: 0.9287109375em;
}

.icon-volume-off {
  width: 0.4287109375em;
}

.icon-volume-down {
  width: 0.642578125em;
}

.icon-volume-up {
  width: 0.9287109375em;
}

.icon-qrcode {
  width: 0.7861328125em;
}

.icon-tags {
  width: 1.0712890625em;
}

.icon-book {
  width: 0.9287109375em;
}

.icon-bookmark {
  width: 0.7138671875em;
}

.icon-print {
  width: 0.9287109375em;
}

.icon-camera {
  width: 1.0712890625em;
}

.icon-font {
  width: 0.9287109375em;
}

.icon-bold {
  width: 0.7861328125em;
}

.icon-italic {
  width: 0.5712890625em;
}

.icon-image {
  width: 1.0712890625em;
}

.icon-map-marker, .icon-tint {
  width: 0.5712890625em;
}

.icon-share-square-o, .icon-check-square-o {
  width: 0.9287109375em;
}

.icon-step-backward {
  width: 0.5712890625em;
}

.icon-backward {
  width: 0.9287109375em;
}

.icon-play {
  width: 0.7861328125em;
}

.icon-forward {
  width: 0.9287109375em;
}

.icon-step-forward {
  width: 0.5712890625em;
}

.icon-eject {
  width: 0.8583984375em;
}

.icon-chevron-left, .icon-chevron-right {
  width: 0.7138671875em;
}

.icon-arrow-up, .icon-arrow-down {
  width: 0.9287109375em;
}

.icon-plus, .icon-minus {
  width: 0.7861328125em;
}

.icon-asterisk {
  width: 0.9287109375em;
}

.icon-fire, .icon-plane {
  width: 0.7861328125em;
}

.icon-calendar {
  width: 0.9287109375em;
}

.icon-retweet {
  width: 1.0712890625em;
}

.icon-shopping-cart, .icon-folder {
  width: 0.9287109375em;
}

.icon-folder-open {
  width: 1.0712890625em;
}

.icon-arrows-v {
  width: 0.4287109375em;
}

.icon-bar-chart {
  width: 1.142578125em;
}

.icon-cogs {
  width: 1.0712890625em;
}

.icon-star-half {
  width: 0.5em;
}

.icon-sign-out {
  width: 0.9287109375em;
}

.icon-thumb-tack {
  width: 0.642578125em;
}

.icon-trophy, .icon-upload {
  width: 0.9287109375em;
}

.icon-phone, .icon-square-o {
  width: 0.7861328125em;
}

.icon-bookmark-o {
  width: 0.7138671875em;
}

.icon-twitter {
  width: 0.9287109375em;
}

.icon-facebook {
  width: 0.5712890625em;
}

.icon-unlock {
  width: 0.9287109375em;
}

.icon-credit-card {
  width: 1.0712890625em;
}

.icon-rss {
  width: 0.7861328125em;
}

.icon-wrench {
  width: 0.9287109375em;
}

.icon-filter {
  width: 0.7861328125em;
}

.icon-group {
  width: 1.0712890625em;
}

.icon-chain {
  width: 0.9287109375em;
}

.icon-cloud {
  width: 1.0712890625em;
}

.icon-flask {
  width: 0.9287109375em;
}

.icon-paperclip {
  width: 0.7861328125em;
}

.icon-table, .icon-magic, .icon-google-plus {
  width: 0.9287109375em;
}

.icon-money {
  width: 1.0712890625em;
}

.icon-caret-down, .icon-caret-up {
  width: 0.5712890625em;
}

.icon-caret-left, .icon-caret-right {
  width: 0.357421875em;
}

.icon-columns {
  width: 0.9287109375em;
}

.icon-sort, .icon-sort-desc, .icon-sort-asc {
  width: 0.5712890625em;
}

.icon-bolt {
  width: 0.5em;
}

.icon-umbrella {
  width: 0.9287109375em;
}

.icon-lightbulb-o {
  width: 0.5712890625em;
}

.icon-cloud-download, .icon-cloud-upload {
  width: 1.0712890625em;
}

.icon-user-md, .icon-stethoscope {
  width: 0.7861328125em;
}

.icon-coffee {
  width: 1.0712890625em;
}

.icon-cutlery, .icon-building-o, .icon-hospital-o {
  width: 0.7861328125em;
}

.icon-ambulance, .icon-fighter-jet {
  width: 1.0712890625em;
}

.icon-beer {
  width: 0.9287109375em;
}

.icon-angle-double-left, .icon-angle-double-right {
  width: 0.5712890625em;
}

.icon-angle-double-up, .icon-angle-double-down {
  width: 0.642578125em;
}

.icon-angle-left, .icon-angle-right {
  width: 0.357421875em;
}

.icon-angle-up, .icon-angle-down {
  width: 0.642578125em;
}

.icon-desktop, .icon-laptop {
  width: 1.0712890625em;
}

.icon-tablet {
  width: 0.642578125em;
}

.icon-mobile {
  width: 0.4287109375em;
}

.icon-quote-left, .icon-quote-right, .icon-github-alt, .icon-folder-o {
  width: 0.9287109375em;
}

.icon-folder-open-o, .icon-gamepad, .icon-keyboard-o {
  width: 1.0712890625em;
}

.icon-terminal {
  width: 0.9287109375em;
}

.icon-code {
  width: 1.0712890625em;
}

.icon-star-half-empty {
  width: 0.9287109375em;
}

.icon-location-arrow {
  width: 0.7861328125em;
}

.icon-crop {
  width: 0.9287109375em;
}

.icon-code-fork {
  width: 0.5712890625em;
}

.icon-chain-broken {
  width: 0.9287109375em;
}

.icon-question {
  width: 0.5712890625em;
}

.icon-info, .icon-exclamation {
  width: 0.357421875em;
}

.icon-eraser {
  width: 1.0712890625em;
}

.icon-puzzle-piece {
  width: 0.9287109375em;
}

.icon-microphone {
  width: 0.642578125em;
}

.icon-microphone-slash {
  width: 0.7861328125em;
}

.icon-shield {
  width: 0.7138671875em;
}

.icon-calendar-o {
  width: 0.9287109375em;
}

.icon-fire-extinguisher {
  width: 0.7861328125em;
}

.icon-rocket {
  width: 0.9287109375em;
}

.icon-html5 {
  width: 0.7861328125em;
}

.icon-unlock-alt {
  width: 0.642578125em;
}

.icon-ellipsis-h {
  width: 0.7861328125em;
}

.icon-ellipsis-v {
  width: 0.2138671875em;
}

.icon-minus-square-o {
  width: 0.7861328125em;
}

.icon-level-up, .icon-level-down, .icon-eur, .icon-gbp, .icon-dollar {
  width: 0.5712890625em;
}

.icon-inr {
  width: 0.5009765625em;
}

.icon-cny {
  width: 0.5732421875em;
}

.icon-rouble, .icon-bitcoin {
  width: 0.7138671875em;
}

.icon-sort-alpha-asc, .icon-sort-alpha-desc, .icon-thumbs-up, .icon-thumbs-down {
  width: 0.9287109375em;
}

.icon-xing, .icon-stack-overflow, .icon-bitbucket {
  width: 0.7861328125em;
}

.icon-tumblr {
  width: 0.5712890625em;
}

.icon-long-arrow-down, .icon-long-arrow-up {
  width: 0.4287109375em;
}

.icon-apple {
  width: 0.7861328125em;
}

.icon-windows {
  width: 0.9287109375em;
}

.icon-android {
  width: 0.7861328125em;
}

.icon-foursquare, .icon-female {
  width: 0.7138671875em;
}

.icon-male {
  width: 0.5712890625em;
}

.icon-bug {
  width: 0.9287109375em;
}

.icon-vk {
  width: 1.0712890625em;
}

.icon-pagelines {
  width: 0.7861328125em;
}

.icon-stack-exchange {
  width: 0.7138671875em;
}

.icon-wheelchair {
  width: 0.9287109375em;
}

.icon-try {
  width: 0.642578125em;
}

.icon-plus-square-o {
  width: 0.7861328125em;
}

.icon-space-shuttle {
  width: 1.2138671875em;
}

.icon-slack {
  width: 0.9287109375em;
}

.icon-bank {
  width: 1.142578125em;
}

.icon-graduation-cap {
  width: 1.2861328125em;
}

.icon-google {
  width: 0.7138671875em;
}

.icon-reddit {
  width: 1.2861328125em;
}

.icon-stumbleupon {
  width: 1.0712890625em;
}

.icon-digg {
  width: 1.142578125em;
}

.icon-pied-piper-alt {
  width: 1.1376953125em;
}

.icon-child {
  width: 0.7138671875em;
}

.icon-paw {
  width: 0.9287109375em;
}

.icon-spoon {
  width: 0.4287109375em;
}

.icon-cubes {
  width: 1.2861328125em;
}

.icon-behance, .icon-automobile, .icon-cab {
  width: 1.142578125em;
}

.icon-deviantart {
  width: 0.5712890625em;
}

.icon-soundcloud {
  width: 1.2861328125em;
}

.icon-jsfiddle {
  width: 1.142578125em;
}

.icon-tencent-weibo {
  width: 0.7138671875em;
}

.icon-wechat {
  width: 1.142578125em;
}

.icon-paragraph {
  width: 0.7138671875em;
}

.icon-newspaper-o, .icon-wifi {
  width: 1.142578125em;
}

.icon-cc-visa, .icon-cc-mastercard, .icon-cc-discover, .icon-cc-amex, .icon-cc-paypal, .icon-cc-stripe {
  width: 1.2861328125em;
}

.icon-bell-slash, .icon-bell-slash-o {
  width: 1.142578125em;
}

.icon-trash {
  width: 0.7861328125em;
}

.icon-area-chart, .icon-line-chart, .icon-toggle-off, .icon-toggle-on {
  width: 1.142578125em;
}

.icon-bicycle {
  width: 1.2861328125em;
}

.icon-ioxhost {
  width: 1.142578125em;
}

.icon-angellist {
  width: 0.7138671875em;
}

.icon-cc, .icon-connectdevelop, .icon-leanpub, .icon-sellsy, .icon-simplybuilt, .icon-skyatlas {
  width: 1.142578125em;
}

.icon-cart-plus {
  width: 0.9287109375em;
}

.icon-diamond, .icon-ship {
  width: 1.142578125em;
}

.icon-motorcycle {
  width: 1.2861328125em;
}

.icon-venus, .icon-mercury {
  width: 0.7138671875em;
}

.icon-mars-double {
  width: 1.0712890625em;
}

.icon-venus-mars {
  width: 1.142578125em;
}

.icon-mars-stroke-v {
  width: 0.7138671875em;
}

.icon-mars-stroke-h {
  width: 1.142578125em;
}

.icon-neuter, .icon-pinterest-p {
  width: 0.7138671875em;
}

.icon-user-plus, .icon-user-times, .icon-bed {
  width: 1.142578125em;
}

.icon-signal-wifi-statusbar-1-bar, .icon-signal-wifi-statusbar-2-bar, .icon-signal-wifi-statusbar-3-bar, .icon-signal-wifi-statusbar-4-bar, .icon-signal-wifi-statusbar-connected-no-internet-1, .icon-signal-wifi-statusbar-connected-no-internet-2, .icon-signal-wifi-statusbar-connected-no-internet-3, .icon-signal-wifi-statusbar-connected-no-internet-4, .icon-signal-wifi-statusbar-connected-no-internet, .icon-signal-wifi-statusbar-not-connected, .icon-signal-wifi-statusbar-null {
  width: 1.0830078125em;
}