[class^="svg-"], [class*=" svg-"] {
	display : inline-block;
	width   : 1em;
	height  : 1em;
	fill    : currentColor;
}

/* ================================================================================
Example showing how to change the color/size of the icons:
.svg-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works because "fill" was set to "currentColor"
}
================================================================================ */

.svg-bubbles2 {
	width : 1.125em;
}

.svg-bubbles10 {
	width : 1.125em;
}

.svg-users {
	width : 1.125em;
}

.svg-users2 {
	width : 1.125em;
}
