/**
 * S
 *
 *
 */
[class^="svg-"], [class*=" svg-"] {
	display : inline-block;
	width   : 1em;
	height  : 1em;
	fill    : currentColor;
}

.svg-bubbles2 {
	width : 1.125em;
}

.svg-bubbles10 {
	width : 1.125em;
}

.svg-users {
	width : 1.125em;
}

.svg-users2 {
	width : 1.125em;
}
